.login_mr{width: 340px;height: auto;background: #fff;border: 1px solid #d0d0d0;margin-top: 75px;position: relative;
    .register-btn{position: absolute;top: 15px;left: 20px;z-index: 1;font-size: 13px;
        a{color: #FF7800;}
    }
    .login_mrb{position: relative;
        form{width: 240px;margin: auto;display: block;
            .username_box{margin-top: 50px;
                input{border-radius: 10px;outline: 0;line-height: 40px;height: 40px;border: 1px solid #D0D0D0;background: #fff;text-indent: 4em;width: 100%;}
                .error{height: 30px;}
                .success{height: 30px;color:#58bc58;font-size: 14px;}
                .wrong{height: 30px;color:red;font-size: 14px;}
            }
            .password_box{
                input{border-radius: 10px;outline: 0;line-height: 40px;height: 40px;border: 1px solid #D0D0D0;background: #fff;text-indent: 4em;width: 100%;}
                .error{height: 30px;}
                .success{height: 30px;color:#58bc58;font-size: 14px;}
                .wrong{height: 30px;color:red;font-size: 14px;}
            }
            .rember_pw{
                .keep_pw{line-height: 40px;height: 40px;float: left;display: inline-block;width: 49.9%;color: #a7a7a7;
                    label{margin-left: 10px;vertical-align: middle;color: #a7a7a7;font-size: 12px;}
                }
                .forget_pw{line-height: 40px;height: 40px;float: left;display: inline-block;width: 49.9%;color: #a7a7a7;font-size: 12px;text-align: right;}
            }
            .loginBtn{margin-top: 20px;width: 100%;padding: 14px 0;background: #C81417;color: #FFF;border-radius: 5px;text-align: center;display: block;border: none;cursor: pointer;}

        }
    .reg_free{text-align: center;margin-top: 20px;color: #a7a7a7;font-size: 14px;}
    .other_login{width: 50%;margin: auto;margin-top: 10px;
        li{width: 50%;float: left;display: inline-block;
            i{width: 30px;height: 30px;margin: auto;background-position: 0 -180px;font-size: 36px;padding-left:24px;}
            p{width: 100%;text-align: center;color: #a7a7a7;display: block;line-height: 25px;height: 25px;font-size: 14px;}
        }

    }
    }
}